<div class="my-card hoverable">
    <div class="post">
          <h1 class="p-title">{{ title }}</h1>
          <h2 class="p-user">{{ user.userName }}</h2>
          <p> {{ body }} </p>
          <p class="comment">
            <a href="#">Comment<i class="far fa-comment"></i></a>
          </p>
          <p>Date: {{ get_date updated_at}}</p>
    </div> 
</div>