<div class="my-card hoverable"> <!-- Partial for viewing comments with delete/update options -->
    <div class="post">
        <h2 class="c-user">{{ user.userName }}</h2>
        <p> {{ body }} </p>
        <p>Date: {{ get_date updated_at}}</p>
        <a class="c-user c-links" href="#">Update</a>
        <a class="c-user c-links c-m" href="#">Delete</a>
    </div>  
</div>