<div class="my-card hoverable"> <!-- Partial for viewing every comment without delete/update options -->
    <div class="post">
        <h2 class="c-user">{{ user.userName }}</h2>
        <p> {{ body }} </p>
        <p>Date: {{ get_date updated_at}}</p>
    </div>  
</div>