<div class="single-container"> <!-- Card container for one post -->
    {{> card-partials data}}
    {{#if loggedIn}}    <!-- Shows comment box if the user is logged in -->
    <div class="my-card">
        <textarea id="commentText" placeholder="Comment"></textarea>
    </div>
    <div class="btn-container">
        <button id="addCommentBtn" class="btn waves-effect waves-light green-btn" type="submit">Add Comment</button>
    </div>
    {{/if}} 
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{#if loggedIn}}
    <script src="/js/add-comment.js"></script>
    {{/if}}
